&i2c1 {
    display: display@40{
        compatible = "i2c-device";
        reg = < 0x3c >;
        label = "ONBOARD_DISPLAY";
    };

    icm42688: icm42688@69{
        compatible = "i2c-device";
        reg = < 0x69 >;
        label = "ICM-IMU";
    };

    bmi_270: bmi_270@68{
        compatible = "i2c-device";
        reg = < 0x68 >;  //<-- PROBLEM
        label = "BMI270-IMU"; 
    };

    bmi088_acc: bmi088_acc@18{
        compatible = "i2c-device";
        reg = < 0x18 >;
        label = "accel_bmi088";
    };

    bmi088_gyro: bmi088_gyro@68{
        compatible = "i2c-device";
        reg = < 0x68 >;
        label = "gyro_bmi088";
    };

    status = "okay";
    zephyr,concat-buf-size = <2048>;
};

&adc {
	status = "okay";
};
